<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<body>

  <div th:fragment="copy" id="ppm-sidemenu" role="navigation">
    <div class="box">
      <div class="menu">
        <h3 class="menu">Menu</h3>
        <ul>
          <li><a href="robbery">Robbery</a></li>
          <li><a href="nightlife">Nightlife</a></li>
          <li><a href="quests">Quests</a></li>
          <li><a href="equipment">Equipment</a></li>
          <li><a href="bank">Bank</a></li>
          <li><a href="hospital">Hospital</a></li>
          <li><a href="casino">Casino</a></li>
          <li><a href="prison">Prison</a></li>
          <li><a href="crew">Crew</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>