body {
    background: url("https://i.ibb.co/kyTxyDY/asdadada.png") !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-color: black !important;

}

div#topcolumn {
    margin: 0 25px;
}

div.StartImage {
    background: url("https://wallpapercave.com/wp/wp2777563.jpg") no-repeat;
    height: 300px;
    max-width: 725px;
    background-size: cover;
}
p {
    color: white;
}
div#header img.logo,
div.gameimage,
div#headermenu,
div.forumMessageHeader {
    margin-bottom: 15px;
}
div#stats tbody tr td {
    color: white;
    font-size: 10px;
    font-weight: bolder;
    padding-right: 5px;
}
form {
    display: block;
    margin-top: 0em;
}

div#header-logo img {
    margin: -15px 0 0 222px;
}
div.box {
    border-radius: 7px;
}
div#ppm-content, div#ppm-sidemenu {
    margin-top: 10px !important;
}
div#header,
div.box h2,
div.box div.tabs,
div#top-menu-notifications-list h2 {
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    color: white;
}

div.box h2 {
    margin: -10px -10px 10px;
    padding: 5px 5px 5px 10px;
}

div.box {
    margin: 0 0 15px;
    padding: 10px;
    overflow-wrap: break-word;
}

h3,
strong {
    color: white;
}


div#header-commands {
    margin: 10px 22px 0 0;
    float: right;
}

a {
    color: #09639a;
    text-decoration: none;
}

div.avatar,
div.avatar_clean {
    background-size: 100% !important;
}

div.avatar {
    float: left;
    margin-right: 10px;
}

div.avatar,
div.avatar_clean {
    height: 120px;
    width: 120px;
}

div#header-logo img {
    margin: -15px 0 0 222px;
}

div#detachable {
    width: 775px;
    position: static;
}

div#header-side-commands {
    display: none;
    position: relative;
    left: 15px;
    top: 1px;
    width: 25px;
    float: right;
    margin-left: -40px;
}

div#character-tools {
    /*background-image: url(Images/bgr-character-tools.png);*/
}

div#ppm-detachable-shadow {
    width: 775px;
    position: static;
    display: none;
}


html,
input,
select,
textarea {
    font-family: "Lucida Grande", Verdana, Sans-Serif;
    font-size: 11px;
}

div#ppm-wrapper {
    margin: 30px auto 0;
    width: 775px;
    top: 50%;
}

div {
    display: block;
}

html,
input,
select,
textarea {
    font-family: "Lucida Grande", Verdana, Sans-Serif;
    font-size: 11px;
}

div#detachable {
    width: 775px;
    position: static;
}

div#top-menu {
    height: 32px;
    margin-top: 15%;
    box-shadow: inset 0px 0px 10px rgba(255, 225, 154, 0.5);
    background-color: grey;
    z-index: 9999;
}

div#top-menu-nav {
    float: left;
    width: 670px;
    height: 32px;
}

div#top-menu-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 0 0 0;
    text-align: center;
}

ul,
menu,
dir {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div#top-menu-nav ul li {
    display: inline;
}

ul li {
    list-style-type: disc;
    margin: 0 0 5px;
    padding: 0;
}

div#ppm-content {
    margin: 0 0 0 25px;
    float: left;
    width: 489px;
}

div.box,
table.data tr.even td,
div.editor a.button:hover {
    background: #eee;
}

div.content p {
    margin: 0 0 15px;
    padding: 0 10px;
}

div.signupBox {
    color: #fff;
    overflow: auto;
    padding: 15px;
    background: url(https://cache.desktopnexus.com/thumbseg/2167/2167404-bigthumbnail.jpg) no-repeat !important;
    background-size: cover !important;
    border-radius: 30px;
}
div.noteheader, div.avatarMaker, div#header, div.box h2, div.box div.tabs, div#top-menu-notifications-list h2{
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
.StartImage, input.round, select.round {
    border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
}
input.round {
    background: #fff;
    border: 1px solid #999;
    padding: 3px;
}
input[type=submit], input[type=button] {
    border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    padding: 2px 5px;
    border: 1px solid #999;
}
input[type=submit]:hover, input[type=button]:hover {
    background-color: #fafafa;
}
.right {
    text-align: right!important;
}
.width100 {
    width: 100%!important;
}
.width95 {
    width: 95%!important;
}
.width90 {
    width: 90%!important;
}
.width49 {
    width: 49%!important;
}
.ofauto {
    overflow: auto;
}
div#headbar ul li {
    display: inline;
}
div#sub-header {
    background: #484143;
    height: 65px;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
}
div#ppm-bottom-spacer {
    height: 50px;
}
.clear {
    clear: both;
}

.center {
    text-align: center!important;
}
div#ppm-footer {
    border-bottom: 20px solid #564d4f;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
div#headbar ul li a{
    color: rgb(224, 224, 224);
    padding: 9px 5px 9px 5px;
    height: 32px;
}

div#headbar ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 0 0 0;
    text-align: center;
}

div.charMainToolbox {
    float: left;
    width: 25%;
    margin-right: 15px !important;
}

div.charMainValues {
    float: left;
    width: 30%;
    margin-right: 20px !important;
}

div.charMainInfo {
    float: left;
    width: 35%;
    margin-right: 0 !important;
}

.clear {
    clear: both;
}

div.box,
table.data tr.even td,
div.editor a.button:hover {
    background: rgba(80, 80, 80, 0.65);
}body {
     background: #1b1819 url(/static/assets/images/city_background.jpg) repeat-x;
 }

div#topcolumn {
    margin: 0 25px;
}

div.StartImage {
    background: url("https://wallpapercave.com/wp/wp2777563.jpg") no-repeat;
    height: 300px;
    max-width: 725px;
    background-size: cover;
}

div#header img.logo,
div.gameimage,
div#headermenu,
div.forumMessageHeader {
    margin-bottom: 15px;
}

form {
    display: block;
    margin-top: 0em;
}

div#header-logo img {
    margin: -15px 0 0 222px;
}

div#header,
div.box h2,
div.box div.tabs,
div#top-menu-notifications-list h2 {
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    color: white;
}

h3,
strong {
    color: white;
}


div#header {
    height: 20px;
}

div#header-commands {
    margin: 10px 22px 0 0;
    float: right;
}

a {
    color: #09639a;
    text-decoration: none;
}

div.avatar,
div.avatar_clean {
    background-size: 100% !important;
}

div.avatar {
    float: left;
    margin-right: 10px;
}


div#header-logo img {
    margin: -15px 0 0 222px;
}

div#detachable {
    width: 775px;
    position: static;
}

div#header-side-commands {
    display: none;
    position: relative;
    left: 15px;
    top: 1px;
    width: 25px;
    float: right;
    margin-left: -40px;
}

div#character-tools {
    /*background-image: url(Images/bgr-character-tools.png);*/
}

div#ppm-detachable-shadow {
    width: 775px;
    position: static;
    display: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

html,
input,
select,
textarea {
    font-family: "Lucida Grande", Verdana, Sans-Serif;
    font-size: 11px;
}
h1, h2 {
    color: white;
}
#headbar {
    font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
    height: 32px;
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    border-color: -moz-use-text-color #564d4f #564d4f -moz-use-text-color;
    border-style: none #87777c #87777c none;
    border-width: medium 1px 1px medium;
    background: none repeat scroll 0 0  #564d4fc5;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

div#ppm-wrapper {
    margin: 30px auto 0;
    width: 775px;
    top: 50%;
}

div {
    display: block;
}

html,
input,
select,
textarea {
    font-family: "Lucida Grande", Verdana, Sans-Serif;
    font-size: 11px;
}

div#detachable {
    width: 775px;
    position: static;
}

div#top-menu {
    height: 32px;
    margin-top: 15%;
    box-shadow: inset 0px 0px 10px rgba(255, 225, 154, 0.5);
    background-color: #2c2225;
    z-index: 9999;
}

div#top-menu-nav {
    float: left;
    width: 670px;
    height: 32px;
}

div#top-menu-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 0 0 0;
    text-align: center;
}

ul,
menu,
dir {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div#top-menu-nav ul li {
    display: inline;
}

ul li {
    list-style-type: disc;
    margin: 0 0 5px;
    padding: 0;
}

div#ppm-main {
    background-color: #564d4f;
}

div#ppm-main {
    clear: both;
    overflow: auto;
    margin: 0;
    border-radius: 7px;
}

div#ppm-content {
    margin: 0 0 0 25px;
    float: left;
    width: 489px;
}

div.box,
table.data tr.even td,
div.editor a.button:hover {
    background: #eee;
}
div.box h2 {
    font-size: 12px;
    background-color: #484143;
    background-repeat: repeat-x;
    color: #fff;
    font-weight: 500;
}


.ofauto {
    overflow: auto;
}

div.charMainToolbox {
    float: left;
    width: 25%;
    margin-right: 15px !important;
}

div.charMainValues {
    float: left;
    width: 30%;
    margin-right: 20px !important;
}

div.charMainInfo {
    float: left;
    width: 35%;
    margin-right: 0 !important;
}

.clear {
    clear: both;
}

div.box {
    margin: 0 0 15px;
    padding: 10px;
    overflow-wrap: break-word;
}

div.box,
table.data tr.even td,
div.editor a.button:hover {
    background: #87777c;
}

div#ppm-sidemenu {
    margin: 0 25px 0 0;
    float: right;
    width: 220px;
}

div#ppm-sidemenu {
    margin: 0 25px 0 0;
    float: right;
    width: 220px;
}