<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
        <meta charset="UTF-8">
        <title>404 Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body data-gr-c-s-loaded="true" style="">
    <form name="javaForm" method="post" action="./Character" id="javaForm">
        <div id="header" role="banner">
            <div id="headbar" class="cityofcrime" style="display: block;">
                <ul>
                    <li><a href="">Welcome</a></li>
                    <li><a href="">Character</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Log out</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div id="ppm-wrapper">
            <div id="sub-header" role="banner">

                <div id="header-logo">
                    <img src="https://github.com/kubilayckmk/cityofCrime/blob/master/logo.png?raw=true"
                        style="position: relative; left: -20;">
                </div>
            </div>
            <div id="ppm-main">
                <div id="topcolumn">
                    <div class="Error gameimage">

                    </div>
                    <div class="box center">
                        <h2 id="ctl00_cphTopColumn_hdrMain">Ooops!</h2>
                        <p>
                            Something went wrong, and the error has been logged.</p>
                    </div>
                    <div class="bmargin10">&nbsp;</div>
                </div>
            </div>
            <div class="clear center" style="background-color: #564d4f;">
                    <img src="https://github.com/kubilayckmk/cityofCrime/blob/master/jarcoding.png?raw=true"
                        style="position: relative; left: -20;">
                </div>
                <div id="ppm-footer"></div>
            </div>
            <div id="ppm-bottom-spacer"></div>
        </div>
    </form>


</body>

</html>