<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="'City of Crime - ' + ${session.user.firstName + ' ' + session.user.lastName}"></title>></title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <script type="text/javascript" th:src="@{/script/robbery.js}"></script>
    </head>

    <body data-gr-c-s-loaded="true" style="">
        <form name="javaForm" method="post" action="./Character" id="javaForm">
            <div th:replace="fragments/headbar :: copy"></div>
            <div id="ppm-wrapper">
                <div th:replace="fragments/subheader :: copy"></div>

                <div id="ppm-main">
                    <div id="ppm-content" role="main" class="content">
                        <div th:replace="fragments/character :: copy"></div>
                        <div id="buildings">
                            <img src="https://i0.wp.com/4.bp.blogspot.com/-5SW37VVXSXw/VlSDCPZ6szI/AAAAAAAABA8/eICdnXnZMww/s1600/cBs05iuT5ELLOJoNC8_Chg-wide.jpg?resize=665%2C443"
                                width="212px" height="140px">
                            <p>You need a lot money to buy buildings, but it will pay off sooner or later! Buildings
                                produce durgs and is a vital part of becoming a real gangster.
                                Drugs can then be sold to the drug dealer or even better to boats that will buy large
                                quantities for a very good price!</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div th:replace="fragments/sidemenu :: copy"></div>
                    <div>
                        <h2 th:text="${#session.getAttribute('job')}"></h2>
                    </div>
                    <table class="data quest">
                            <tbody class="data-tbody">
                                <tr>
                                    <th colspan="2" class="single">Prospect</th>
                                </tr>
        
        
        
                                <tr class="even">
                                    <td>Fresh meat, you want to be a champ? Let me show you few tricks that might help you become a Godfather of this world.
                                    </td>
                                </tr>
                                <tr class="odd">    
                                    <td><button type="button" id="shakers" class="nightlife">Start</button></td>
                                </tr>
        
        
        
                            </tbody>
                    </table>
                </div>
            <div th:replace="fragments/footer :: copy"></div>
            <div id="ppm-bottom-spacer"></div>
        </form>
    </body>
</html>