<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="'City of Crime - ' + ${session.user.firstName + ' ' + session.user.lastName}"></title>></title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
        <script type="text/javascript" th:src="@{/script/robbery.js}"></script>
    </head>

    <body data-gr-c-s-loaded="true" style="">
        <form name="javaForm" method="post" action="./Character" id="javaForm">
            <div th:replace="fragments/headbar :: copy"></div>

            <div id="ppm-wrapper">
                <div th:replace="fragments/subheader :: copy"></div>

                <div id="ppm-main">
                    <div id="ppm-content" role="main" class="content">
                        <div th:replace="fragments/character :: copy"></div>

                        <div id="casino">
                            <img src="https://www.newzealand.com/assets/Tourism-NZ/Auckland/084dca2730/img-1536865296-2286-7334-p-061901E5-B79C-1239-158550691CA9A466-2544003__FocalPointCropWzQyNyw2NDAsNDcsNTAsODUsInBuZyIsNjUsMi41XQ.png"
                                width="212px" height="140px">
                            <p>Do you feel lucky punk? Whether you're here for business or pleasure you can play forever
                                if you got the cash.</p>
                        </div>
                        <div class="clear"></div>


                    </div>
                    <div th:replace="fragments/sidemenu :: copy"></div>

                    <div>
                        <h2 th:text="${#session.getAttribute('job')}"></h2>
                    </div>
                    <table class="data quest">
                        <tbody class="data-tbody">
                            <tr>
                                <th colspan="2" class="single">Prospect</th>
                            </tr>
                            <tr class="even">
                                <td>Fresh meat, you want to be a champ? Let me show you few tricks that might help you become a Godfather of this world.
                                </td>
                            </tr>
                            <tr class="odd">    
                                <td><button type="button" id="shakers" class="nightlife">Start</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="fragments/footer :: copy"></div>
            </div>
            <div id="ppm-bottom-spacer"></div>
        </form>
    </body>
</html>