<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>City of Crime - Karakter Adı</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body data-gr-c-s-loaded="true" style="">
    <form name="javaForm" method="post" action="./Character" id="javaForm">
        <div id="header" role="banner">
            <div id="headbar" class="cityofcrime" style="display: block;"></div>
        </div>
        <div id="ppm-wrapper">
            <div id="ppm-main">
                <div id="ppm-content" role="main" class="content">
                    <div class="box ofauto charPresBox">
                        <div id="karakter_basarilari" class="characterAchievements">
                            <div title="achv1" class="Achievement Achievement_196"></div>
                            <div title="achv2" class="Achievement Achievement_254"></div>
                        </div>
                        <h2 th:text="${session.user.firstName +' '+ session.user.lastName}">Joni-Petteri</h2>
                        <div class="avatar pointer idTrigger"
                            style="background: url('https://shmector.com/_ph/4/275274558.png') no-repeat;"
                            onclick="window.location.href='';">
                            <div class="idHolder" style="display: none;">3373677</div>
                        </div>
                        <div class="float_left characterPresentation">
                            <p>
                                <strong th:text="${session.user.username}"></strong> bir
                                <strong>
                                    <span th:if="${session.user.userCharacter.type == 1}">Gangster</span>
                                    <span th:if="${session.user.userCharacter.type == 2}">Assassin</span>
                                    <span th:if="${session.user.userCharacter.type == 3}">Dealer</span>
                                </strong>
                                ve
                                <a href="">Helsinki</a> şehrinde, <a href="">Hietaniemen hautausmaa</a> adlı mekânda.
                            </p>
                            <p><strong th:text="${session.user.username}"></strong> boş zamanlarında
                                <strong>
                                    <span th:if="${session.user.userCharacter.type == 1}">Sokak toplantıları</span>
                                    <span th:if="${session.user.userCharacter.type == 2}">Hedefler</span>
                                    <span th:if="${session.user.userCharacter.type == 3}">Ticaret</span>
                                </strong>
                                ile uğraşmayı seviyor ve
                                profesyonel olarak kendisini geliştirebilmek için <strong>yetenek geliştirmek</strong>
                                ile uğraşıyor.</p>

                            <div class="tb nobmargin" id="ctl00_cphLeftColumn_ctl02_tbxStatement">
                                <div class="tbc tbcw">
                                    <span class="em">Sanırım havalı bir şeyler söylemem gerekiyor...</span>
                                </div>
                            </div>
                            <br></br>
                            <div id="stats">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Stamina:</td><td>100</td>
                                            <td>Respect:</td><td>100</td>
                                            <td>Money:</td><td> 100</td>
                                        </tr>
                                        <tr>
                                            <td>Experience:</td><td>100</td>
                                            <td>Intelligence:</td><td>100</td>
                                            <td>Strength:</td><td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Tolerance:</td><td>100</td>
                                            <td>Charisma:</td><td>100</td>
                                            <td>Power:</td><td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Credit:</td><td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="charMainToolbox">
                        <table>
                            <tbody>
                                <tr id="ctl00_cphLeftColumn_ctl00_trAttitude">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkAttitude" title="Tavır" href="">Agresif</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="middle" style="width: 13px;"></td>
                                    <td>Normal</td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink1">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink1" href="">Geliştir</a>
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink2">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink2" href="">Odaklar</a></td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink3">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink3" href="">Ayarlar</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="charMainValues">
                        <table class="width100">
                            <tbody>
                                <tr>
                                    <td>

                                    </td>
                                    <td style="min-width: 90px;">
                                        <span class="sortkey">100</span>
                                        <script type="text/javascript">
                                            drawProgressBar(100, false, "%100", "progressBar", false, "%100");
                                        </script>
                                        <div class="progressBar" title="%100">
                                            <div class="full" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <span class="sortkey">100</span>
                                        <script type="text/javascript">
                                            drawProgressBar(100, false, "%100", "progressBar", false, "%100");
                                        </script>
                                        <div class="progressBar" title="%100">
                                            <div class="full" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <span class="sortkey">0</span>
                                        <script type="text/javascript">
                                            drawProgressBar(0, false, "%0", "greenProgressBar", false, "%0");
                                        </script>
                                        <div class="greenProgressBar" title="%0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        1.000,00 ₺
                                        <!-- dinamik olacak-->
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trVIP">
                                    <td>

                                    </td>
                                    <td>
                                        <a id="ctl00_cphLeftColumn_ctl00_lnkVIP" href="">VIP Üye</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="charMainInfo">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Oyun:</strong> City of Crime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Puan:</strong> <a id="ctl00_cphLeftColumn_ctl00_lnkAchievementPoints"
                                            href="">240</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Aktif Günler:</strong> <a href="">0 gün</a>
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trOnlineStatus">
                                    <td>
                                        <strong>Durumu:</strong> <a id="ctl00_cphLeftColumn_ctl00_lnkOnlineStatus"
                                            href="">Normal</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div id="ctl00_cphLeftColumn_ctl00_divRecentEvents" class="box">
                        <h2>Son Günlük Kayıtları</h2>
                        <ul class="noheader diaryExtraspace">
                            <!-- alt satırlarda dinamik -->
                            <li>Bir başarı kazandım: <strong>Ölüler Diyarı'nı Ziyaret Ettim</strong></li>
                        </ul>
                    </div>
                    <div id="ctl00_cphLeftColumn_ctl00_pnlHotTrace" class="box">
                        <h2>Yakın Takip</h2>
                        <p>Bu, bilginiz dâhilinde bulunduğunuz son beş mekânın bir listesidir. Bu bilgiyi sadece siz
                            görebilirsiniz.</p>
                        <ul>
                            <li>14.10.2017, 21:18: <a href="">Mekan adı</a></li> <!-- burasıda dinamik olacak -->
                        </ul>
                    </div>
                    <div class="box">
                        <h2>
                            Göze Çarpan Kıyafetler ve Dövmeler</h2>
                        <p>Joni-Petteri mahrem yerlerini örtecek hiçbir şey giymiyor.</p>
                        <!-- burayı yine veri olarak çekicez -->
                    </div>
                </div>
                <div id="ppm-sidemenu" role="navigation">
                    <div class="box">
                        <h2 id="ctl00_cphRightColumn_ctl00_hdrMain">Character</h2>
                        <strong>Stamina: <span th:text="${session.user.userCharacter.stamina}"></span></strong>
                        <br>
                        <strong>Respect:<span th:text="${session.user.userCharacter.respect}"></span></strong>
                        <br>
                        <strong>Money:<span th:text="${session.user.userCharacter.money}"></span></strong>
                        <br>
                        <strong>Experience:<span th:text="${session.user.userCharacter.experience}"></span></strong>
                        <br>
                        <strong>Intelligence:<span th:text="${session.user.userCharacter.intelligence}"></span></strong>
                        <br>
                        <strong>Strength:<span th:text="${session.user.userCharacter.strength}"></span></strong>
                        <br>
                        <strong>Tolerance:<span th:text="${session.user.userCharacter.tolerance}"></span></strong>
                        <br>
                        <strong>Charisma:<span th:text="${session.user.userCharacter.charisma}"></span></strong>
                        <br>
                        <strong>Power:<span th:text="${session.user.userCharacter.power}"></span></strong>
                        <br>
                        <strong>Credit:<span th:text="${session.user.userCharacter.credit}"></span></strong>
                        <div class="menu">
                            <h3 class="menu">Menu</h3>
                            <ul>
                                <li id="mnuToolTipFocus"><a href="">Robbery</a></li>
                                <li id="mnuToolTipImproveCharacter"><a href="">Nightlife</a></li>
                                <!-- buraya dp kısmına biz ayar çekicez -->
                                <li><a href="">Quests</a></li>
                                <li><a href="">Equipment</a></li>
                                <li id="mnuToolTipSongs"><a href="">Buildings</a></li>
                                <li><a href="">Bank</a></li>

                                <li><a href="">Hospital</a></li>

                                <li><a href="">Casino</a></li>


                                <li id="mnuToolTipPersonality"><a href="">Prison</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="gr_-editor gr-iframe-first-load" style="display: none;">
            <div class="gr_-editor_back"></div><iframe class="gr_-ifr gr-_dialog-content"></iframe>
        </div>
    </div>
    <grammarly-card>
        <div></div>
    </grammarly-card><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i
            class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</body>

</html>