<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="'City of Crime - ' + ${session.user.firstName + ' ' + session.user.lastName}"></title>></title>
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    </head>

    <body data-gr-c-s-loaded="true" style="">
        <form name="javaForm" method="post" action="./Character" id="javaForm">
            <div th:replace="fragments/headbar :: copy"></div>
            <div id="ppm-wrapper">
                <div th:replace="fragments/subheader :: copy"></div>
                <div id="ppm-main">
                    <div id="ppm-content" role="main" class="content">
                        <div th:replace="fragments/character :: copy"></div>
                        <div class="clear"></div>
                        <div id="recentEvents" class="box">
                            <h2>Recent diary entries</h2>
                            <ul class="noheader diaryExtraspace">
                                <li>Updated soon.</li>
                            </ul>
                        </div>
                        <div id="hotTrace" class="box">
                            <h2>Hot Trace</h2>
                            <p>These are your five last whereabouts, as far as you can tell. Only you can see this
                                information.</p>
                            <ul>
                                <li>14.10.2017, 21:18: <a href="">Helsinki Hotel</a></li>
                                <!-- burasıda dinamik olacak -->
                            </ul>
                        </div>
                        <div id="clothesTattos" class="box">
                            <h2>Prominent Clothes & Tattoos</h2>
                            <p>Updated soon</p>
                        </div>
                    </div>
                    <div th:replace="fragments/sidemenu :: copy"></div>
                </div>
                <div th:replace="fragments/footer :: copy"></div>
            </div>
            <div id="ppm-bottom-spacer"></div>
        </form>
    </body>

</html>