<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>City of Crime - Joni-Petteri Ukonmäki</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>

<body data-gr-c-s-loaded="true" style="">
    <form name="javaForm" method="post" action="./Character" id="javaForm">
        <div id="header" role="banner">
            <div id="headbar" class="cityofcrime" style="display: block;"></div>
        </div>
        <div id="ppm-wrapper">
            <div id="ppm-main">
                <div id="ppm-content" role="main" class="content">
                    <div class="box ofauto charPresBox">
                        <div id="ctl00_cphLeftColumn_ctl02_divAchievements" class="characterAchievements">
                            <div title="achv1" class="Achievement Achievement_196"></div>
                            <div title="achv2" class="Achievement Achievement_254"></div>
                        </div>
                        <h2>Joni-Petteri Ukonmäki<a href=""
                                title="Joni-Petteri, bir VIP üye."></a></h2>
                        <div class="avatar pointer idTrigger"
                            style="background: url('https://shmector.com/_ph/4/275274558.png') no-repeat;"
                            onclick="window.location.href='';">
                            <div class="idHolder" style="display: none;">3373677</div>
                        </div>
                        <div class="float_left characterPresentation">
                            <p>
                                Joni-Petteri, 38 yaşında.
                                Joni-Petteri, <a href="">Helsinki</a> şehrinde, <a
                                    href="">Hietaniemen hautausmaa</a> adlı mekânda.
                            </p>
                            <p>Joni-Petteri boş zamanlarında <strong>dinlenmek</strong> ile uğraşmayı seviyor ve
                                profesyonel olarak kendisini geliştirebilmek için <strong>yetenek geliştirmek</strong>
                                ile uğraşıyor.</p>

                            <div class="tb nobmargin" id="ctl00_cphLeftColumn_ctl02_tbxStatement">
                                <div class="tbc tbcw">
                                    <a id="ctl00_cphLeftColumn_ctl02_lnkEditStatement"
                                        title="Konuşma baloncuğunu düzenle" class="float_right"
                                        href=""><img
                                            title="Konuşma baloncuğunu düzenle"
                                            src="" alt=""
                                            style="border-width:0px;"></a><span class="em">Sanırım havalı bir şeyler
                                        söylemem gerekiyor...</span>
                                </div>
                                <div class="tbfbll">
                                    <div class="tbbll tbslw">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="charMainToolbox">
                        <table>
                            <tbody>
                                <tr id="ctl00_cphLeftColumn_ctl00_trAttitude">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkAttitude" title="Tavır"
                                            href="">Agresif</a></td>
                                </tr>

                                <tr>
                                    <td class="middle" style="width: 13px;"></td>
                                    <td>Normal</td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink1">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink1"
                                            href="">Geliştir</a>
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink2">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink2"
                                            href="">Odaklar</a></td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trToolLink3">
                                    <td class="middle" style="width: 13px;"></td>
                                    <td><a id="ctl00_cphLeftColumn_ctl00_lnkToolLink3"
                                            href="">Ayarlar</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="charMainValues">
                        <table class="width100">
                            <tbody>
                                <tr>
                                    <td>

                                    </td>
                                    <td style="min-width: 90px;">
                                        <span class="sortkey">100</span>
                                        <script type="text/javascript">
                                            drawProgressBar(100, false, "%100", "progressBar", false, "%100");
                                        </script>
                                        <div class="progressBar" title="%100">
                                            <div class="full" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <span class="sortkey">100</span>
                                        <script type="text/javascript">
                                            drawProgressBar(100, false, "%100", "progressBar", false, "%100");
                                        </script>
                                        <div class="progressBar" title="%100">
                                            <div class="full" style="width: 100%;"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <span class="sortkey">0</span>
                                        <script type="text/javascript">
                                            drawProgressBar(0, false, "%0", "greenProgressBar", false, "%0");
                                        </script>
                                        <div class="greenProgressBar" title="%0"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        1.000,00 ₺
                                        <!-- dinamik olacak-->
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trVIP">
                                    <td>

                                    </td>
                                    <td>
                                        <a id="ctl00_cphLeftColumn_ctl00_lnkVIP" href="">VIP Üye</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="charMainInfo">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Oyun:</strong> City of Crime
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Puan:</strong> <a id="ctl00_cphLeftColumn_ctl00_lnkAchievementPoints"
                                            href="">240</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Aktif Günler:</strong> <a href="">0 gün</a>
                                    </td>
                                </tr>
                                <tr id="ctl00_cphLeftColumn_ctl00_trOnlineStatus">
                                    <td>
                                        <strong>Durumu:</strong> <a id="ctl00_cphLeftColumn_ctl00_lnkOnlineStatus"
                                            href="">Normal</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div id="ctl00_cphLeftColumn_ctl00_divRecentEvents" class="box">
                        <h2>Son Günlük Kayıtları</h2>
                        <ul class="noheader diaryExtraspace">
                            <!-- alt satırlarda dinamik -->
                            <li>Bir başarı kazandım: <strong>Ölüler Diyarı'nı Ziyaret Ettim</strong></li>
                        </ul>
                    </div>
                    <div id="ctl00_cphLeftColumn_ctl00_pnlHotTrace" class="box">
                        <h2>Yakın Takip</h2>
                        <p>Bu, bilginiz dâhilinde bulunduğunuz son beş mekânın bir listesidir. Bu bilgiyi sadece siz
                            görebilirsiniz.</p>
                        <ul>
                            <li>14.10.2017, 21:18: <a href="">Mekan adı</a></li> <!-- burasıda dinamik olacak -->
                        </ul>
                    </div>
                    <div class="box">
                        <h2>
                            Göze Çarpan Kıyafetler ve Dövmeler</h2>
                        <p>Joni-Petteri mahrem yerlerini örtecek hiçbir şey giymiyor.</p>
                        <!-- burayı yine veri olarak çekicez -->
                    </div>
                </div>
                <div id="ppm-sidemenu" role="navigation">
                    <div class="box">
                        <h2 id="ctl00_cphRightColumn_ctl00_hdrMain">Karakter</h2>
                        <div class="menu">
                            <ul>
                                <li><a href="">Genel Bilgiler</a></li>
                                <li><a href="">Başarılar</a></li>
                                <li id="mnuToolTipDiary"><a href="">Günlük</a></li>

                                <li><a href="">Geçmiş ve Diğer Bilgiler</a></li>
                                <li><a href="">Aile</a></li>
                                <li><a href="">İlişkiler</a></li>
                                <li><a href="">Beden ve Sağlık</a></li>
                                <li><a href="">Oyuncu Bilgileri</a></li>
                            </ul>
                        </div>
                        <div class="menu">
                            <h3 class="menu">
                                Kariyer ve Aktivite
                            </h3>
                            <ul>
                                <li id="mnuToolTipFocus"><a href="">Odaklar</a></li>
                                <li id="mnuToolTipImproveCharacter"><a href="">Karakteri Geliştir</a> (8 dp)</li>
                                <!-- buraya dp kısmına biz ayar çekicez -->
                                <li><a href="">Davetiyeler ve İstekler</a></li>
                                <li><a href="">Yetenekler</a></li>
                                <li id="mnuToolTipSongs"><a href="">Silahlar</a></li>
                                <li><a href="">Uçuşlar</a></li>

                                <li><a href="">Görevler</a></li>

                                <li><a href="">Aktiviteler</a></li>


                                <li id="mnuToolTipPersonality"><a href="">Kişilik ve Davranış</a></li>

                            </ul>
                        </div>

                        <div class="menu">
                            <h3 class="menu">
                                Varlıklar
                            </h3>
                            <ul>
                                <li id="mnuToolTipItems"><a href="">Eşyalar</a></li>
                                <li><a href="">Barınma ve Erişim Şifreleri</a></li>
                                <li><a href="">Ekonomi</a></li>
                                <li><a href="">Araçlar</a></li>
                                <li><a href="">Şirket Hisseleri</a>
                                </li>
                            </ul>
                        </div>

                        <div class="menu">
                            <h3 class="menu">
                                Ticaret
                            </h3>
                            <ul>
                                <li id="mnuToolTipShoppingAssistant"><a href="">Alışveriş Yardımcısı</a></li>
                                <li><a href="">Hediyeler ve Teklifler</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu">
                            <h3 class="menu">
                                Ekstralar
                            </h3>
                            <ul>
                                <li><a href="">Ayarlar ve İzinler</a></li>

                                <li><a href="">Adres Defteri</a></li>

                                <li><a href="">Notlar</a></li>

                                <li id=""><a href="">Portre</a></li>




                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="gr_-editor gr-iframe-first-load" style="display: none;">
            <div class="gr_-editor_back"></div><iframe class="gr_-ifr gr-_dialog-content"></iframe>
        </div>
    </div>
    <grammarly-card>
        <div></div>
    </grammarly-card><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i
            class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</body>

</html>