<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'City of Crime - ' + ${session.user.firstName + ' ' + session.user.lastName}"></title>></title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>

<body data-gr-c-s-loaded="true" style="">
    <form name="javaForm" method="post" action="./Character" id="javaForm">
        <div th:replace="fragments/headbar :: copy"></div>

        <div id="ppm-wrapper">
            <div th:replace="fragments/subheader :: copy"></div>

            <div id="ppm-main">
                <div id="ppm-content" role="main" class="content">
                    <div th:replace="fragments/character :: copy"></div>


                    <div id="nightlife">
                        <img src="https://api3.goingapp.pl/image/permanent/3f56379e34b58fb36131ce5aebe25115.jpg"
                            width="212px" height="175px">
                        <p>You can feel the pulsating bass in your stomach just being outside. But why stay outside when
                            you can get inside, get to know some freaks.
                            Why drink and drive when you can smoke and fly?
                        </p>
                        <p>It always cost 1 ticket to enter your own rave, even if you don't take any drugs or meet
                            anyone. </p>
                        <p>Please note! If you use multiple browser tabs or browser windows open you might get kicked
                            from the nightclub.</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div th:replace="fragments/sidemenu :: copy"></div>

                <table class="data">
                    <tbody class="data-tbody">
                        <tr>
                            <th colspan="2" class="single">Prozak 2.0</th>
                        </tr>



                        <tr class="even">
                            <td>Price:
                            </td>
                            <td>
                                <p>$20</p>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                Max Respect:
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>

                            <td><button type="button" id="prozak" class="nightlife">GO!</button></td>
                        </tr>



                    </tbody>
                </table>
                <table class="data">
                    <tbody class="data-tbody">
                        <tr>
                            <th colspan="2" class="single">Teatr Cubano</th>
                        </tr>



                        <tr class="even">
                            <td>Price:
                            </td>
                            <td>
                                <p>$20</p>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                Max Respect:
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>

                            <td><button type="button" id="teatr-cubano" class="nightlife">GO!</button></td>
                        </tr>



                    </tbody>
                </table>
                <table class="data">
                    <tbody class="data-tbody">
                        <tr>
                            <th colspan="2" class="single">Frantic</th>
                        </tr>



                        <tr class="even">
                            <td>Price:
                            </td>
                            <td>
                                <p>$20</p>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                Max Respect:
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>

                            <td><button type="button" id="frantic" class="nightlife">GO!</button></td>
                        </tr>



                    </tbody>
                </table>
                <table class="data">
                    <tbody class="data-tbody">
                        <tr>
                            <th colspan="2" class="single">Shakers</th>
                        </tr>



                        <tr class="even">
                            <td>Price:
                            </td>
                            <td>
                                <p>$20</p>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                Max Respect:
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>

                            <td><button type="button" id="shakers" class="nightlife">GO!</button></td>
                        </tr>



                    </tbody>
                </table>
            </div>
            <div th:replace="fragments/footer :: copy"></div>
        </div>
        <div id="ppm-bottom-spacer"></div>
        </div>
    </form>

</body>

</html>