<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>City of Crime - Joni-Petteri Ukonmäki</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{../static/css/style.css}" />
</head>

<body data-gr-c-s-loaded="true" style="">
    <form name="javaForm" method="post" action="./Character" id="javaForm">
        <div id="header" role="banner">
            <div id="headbar" class="cityofcrime" style="display: block;"></div>
        </div>
        <div id="ppm-wrapper">
            <div id="ppm-main">
                <div id="topcolumn">
                    <div class="StartImage gameimage"></div>
                </div>
                <div id="ppm-content" role="main" class="content">

                    <h1 id="ctl00_cphLeftColumn_hdrWelcome">Welcome to Popmundo</h1>
                    <p>Popmundo is an online role-playing game and community where the players strive for fame in a
                        virtual music industry.</p>
                    <p>You start the game as a complete nobody with nothing but your hopes and dreams. You can practice
                        your music, play a few gigs, and begin to build a fanbase. Play your cards right and you'll soon
                        be touring the world, cutting chart-topping records, and leaving a wake of tantalizing scandals
                        behind you!</p>
                    <div class="box signupBox signup_Random_1">

                        <div class="width49 float_right">
                            <h3 class="signup">Register using Facebook</h3>
                            <p>If you have a Facebook-account, you can use it to register and start playing immediately:
                            </p>
                            <p>
                                <a id="ctl00_cphLeftColumn_ctl00_lnkFacebookSignup"
                                    title="Allows you to sign up with Popmundo using your Facebook account."
                                    class="fbButton"
                                    href="https://www.facebook.com/v2.9/dialog/oauth?client_id=229620858652&amp;redirect_uri=https%3a%2f%2fwww.popmundo.com%2fAccount%2fPopmundo.aspx%2fSignUp%3faction%3dfacebooksignup&amp;scope=public_profile,email">Sign
                                    up with Facebook</a>
                            </p>
                        </div>


                        <div class="width49 float_left">
                            <h3 class="signup">Register to join the fun!</h3>
                            <p>If you prefer to register with us directly, fill out the fields below. We'll send you an
                                e-mail with instructions on how to get started:</p>
                            <p class="bmargin5">
                                <strong>Login Name:</strong><br>
                                <input name="ctl00$cphLeftColumn$ctl00$txtLN" type="text" maxlength="20"
                                    id="ctl00_cphLeftColumn_ctl00_txtLN" class="round width90">
                            </p>
                            <p class="bmargin5">
                                <strong>Email:</strong><br>
                                <input name="ctl00$cphLeftColumn$ctl00$txtEM" type="text" maxlength="100"
                                    id="ctl00_cphLeftColumn_ctl00_txtEM" class="round width90">
                            </p>
                            <p class="bmargin5">
                                <strong>Repeat Email:</strong><br>
                                <input name="ctl00$cphLeftColumn$ctl00$txtEM2" type="text" maxlength="100"
                                    id="ctl00_cphLeftColumn_ctl00_txtEM2" class="round width90">
                            </p>
                            <p class="tmargin15">
                                <input type="submit" name="ctl00$cphLeftColumn$ctl00$btnSU" value="Register"
                                    onclick=""
                                    id="ctl00_cphLeftColumn_ctl00_btnSU" class="cnf">
                                <script type="text/javascript">
                                    function bindDialog_ctl00_cphLeftColumn_ctl00_btnSU() {
                                        var d_ctl00_cphLeftColumn_ctl00_btnSU = createConfBox(
                                            "ctl00_cphLeftColumn_ctl00_btnSU", "Please confirm",
                                            "Are you sure you entered your email correctly? Without your correct email address we won\'t be able to send you the login details necessary to play the game.",
                                            "Yes", "No", null, null);
                                        jQuery("#ctl00_cphLeftColumn_ctl00_btnSU").click(function () {
                                            d_ctl00_cphLeftColumn_ctl00_btnSU.dialog("open");
                                            return false;
                                        });
                                    }
                                    jQuery(document).ready(function () {
                                        bindDialog_ctl00_cphLeftColumn_ctl00_btnSU();
                                    });
                                </script>
                            </p>
                        </div>







                    </div>
                    <p>The game is played in real time and the game keeps on going even when you're not logged in.
                        Success in the game is determined by careful strategy and good timing, not by constant online
                        presence. It's perfectly possible to be successful in the game by logging in a couple of times a
                        week to check up on things.</p>
                    <p>Popmundo is free of charge and no downloads are necessary to play it. If you can read this you're
                        good to go.</p>
                    <p>Don't like Facebook tracking your visits here? Bookmark <a
                            href="https://www.popmundo.com/?nofb=1">this page</a> instead.</p>
                </div>
                <div id="ppm-sidemenu" role="navigation">
                    <div class="box">

                        <h2>Log In</h2>

                        <p>
                            Username:<br>
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    bindRetTrg("ctl00_cphRightColumn_ucLogin_txtUsername",
                                        "ctl00_cphRightColumn_ucLogin_btnLogin");
                                });
                            </script><input name="ctl00$cphRightColumn$ucLogin$txtUsername" type="text" maxlength="20"
                                id="ctl00_cphRightColumn_ucLogin_txtUsername" class="round width95">
                        </p>
                        <p>
                            Password:<br>
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    bindRetTrg("ctl00_cphRightColumn_ucLogin_txtPassword",
                                        "ctl00_cphRightColumn_ucLogin_btnLogin");
                                });
                            </script><input name="ctl00$cphRightColumn$ucLogin$txtPassword" type="password"
                                maxlength="20" id="ctl00_cphRightColumn_ucLogin_txtPassword" class="round width95">
                        </p>
                        <p>
                            Status:<br>
                            <select name="ctl00$cphRightColumn$ucLogin$ddlStatus"
                                id="ctl00_cphRightColumn_ucLogin_ddlStatus" class="round width95">
                                <option selected="selected" value="0">Normal</option>
                                <option value="1">Busy</option>
                                <option value="2">Mobile</option>
                                <option value="4">Away</option>
                                <option value="3">Drunk</option>

                            </select>
                        </p>
                        <div class="box login-cookies"><img src="Static/Icons/cookie--exclamation.png"
                                style="border-width:0px;">By logging in, you allow us to store cookies in your web
                            browser. These tasty snacks are needed to keep you logged in.</div>
                        <p id="ctl00_cphRightColumn_ucLogin_pButton" class="right tmargin10">
                            <a id="ctl00_cphRightColumn_ucLogin_lnkLostPassword" class="float_left"
                                href="/Account/Popmundo.aspx/ResetPassword">Forgot?</a>
                            <input type="submit" name="ctl00$cphRightColumn$ucLogin$btnLogin" value="OK!"
                                id="ctl00_cphRightColumn_ucLogin_btnLogin">
                        </p>

                        <p>Or, if you've connected your account with Facebook:</p><a
                            id="ctl00_cphRightColumn_ucLogin_lnkFacebookLogin"
                            title="Or, if you've connected your account with Facebook:" class="fbButton"
                            href="https://www.facebook.com/v2.9/dialog/oauth?client_id=229620858652&amp;redirect_uri=https%3a%2f%2fwww.popmundo.com%2fDefault.aspx%3faction%3dfacebooklogin&amp;scope=public_profile,email">Login
                            with Facebook</a>
                    </div>

                    <div class="box">
                        <h2>Check these numbers out</h2>
                        <p>There are currently <strong>877</strong> players out of <strong>55569</strong> online.</p>
                        <p><strong>10275</strong> people have rocked on stage the last 24 hours.</p>
                        <p>Within the last hour, <strong>218</strong> people did the wild thing with groupies or loved
                            ones.</p>
                        <p>Popmundo has been online for <strong>5522</strong> days!</p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <div class="gr_-editor gr-iframe-first-load" style="display: none;">
            <div class="gr_-editor_back"></div><iframe class="gr_-ifr gr-_dialog-content"></iframe>
        </div>
    </div>
    <grammarly-card>
        <div></div>
    </grammarly-card><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i
            class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</body>

</html>